In [1]:
t2 = ('A','B','C')

In [2]:
t2

('A', 'B', 'C')

In [3]:
# TUPLAS SÃO IMUTAVEIS
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [4]:
# Covertendo a tupla para lista usando a função list()
lista_t2 = list(t2)

In [6]:
lista_t2

['A', 'B', 'C']

In [7]:
lista_t2.append('D')

In [8]:
# Agora uso a função tuple para converter de volta para tupla
t2 = tuple(lista_t2)

In [9]:
t2

('A', 'B', 'C', 'D')